node_modules

# Output
.output
.vercel
.netlify
.wrangler
.velite
.svelte-kit
build
.turbo
.next
.open-next
.source

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.*.vars
next-env.d.ts

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
